<div class="p-4 w-full md:w-1/1">
    <div class="p-4 mx-auto lg:max-w-6xl md:max-w-4xl">
                <h2 class="text-2xl sm:text-3xl font-bold text-slate-900 mb-6 sm:mb-8">Recomendaciones</h2>
     @if (producto.length > 0) {
  <div class="grid grid-cols-1 sm:grid-cols-3 xl:grid-cols-4 gap-5 sm:gap-6">
    @for (producto of producto; track producto.id) {
      <div class="bg-white flex flex-col rounded-sm overflow-hidden shadow-md hover:scale-[1.01] transition-all relative">
        <a href="javascript:void(0)" class="block" [routerLink]="['/content/producEdit',producto.id]" >
          <div class="w-full">
            <img src={{producto.enlace}} alt="Camiseta básica"
              class="w-full aspect-[18/24] object-cover object-top" />
          </div>
          <div class="p-4">
            <h5 class="text-sm sm:text-base font-semibold text-slate-900 line-clamp-2">{{producto.nombre}}</h5>
            <div class="mt-2 flex items-center flex-wrap gap-2">
              <h6 class="text-sm sm:text-base font-semibold text-slate-900">{{producto.precio}} Bs.</h6>
            </div>
          </div>
        </a>
        <div class="min-h-[50px] p-4 !pt-0">
          <button type="button" (click)="agregarCarrito(producto.id)" class="absolute left-0 right-0 bottom-3 cursor-pointer max-w-[88%] mx-auto text-sm px-2 py-2 font-medium w-full bg-[#333] hover:text-yellow-300 text-white tracking-wide outline-none border-none rounded-sm">Agregar al carrito</button>
        </div>
      </div>
    }
  </div>
}

    </div>     
</div>
