<app-header></app-header>
<div class=" max-w-4xl mx-auto px-4 py-5">
      <div class="mb-4 border-b border-gray-200 pb-4">
        <h2 class="text-2xl font-bold text-slate-900">Pruebas de testeo</h2>
      </div>

      <div class="divide-y divide-gray-200">
        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-blue-600 hover:text-blue-600 flex items-center">
            <span class="mr-4">Conexion al servidor con la API FIREBASE</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus hidden"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content pb-6 max-h-[1000px] overflow-hidden transition-all duration-300 flex items-center">
            <p class="text-sm text-slate-600 leading-relaxed px-4">Realizar prueba de conexion con el servidor
            </p>
             <button type="button" (click)="conexionServidor()"
                class="px-5 py-2.5 cursor-pointer rounded-lg flex items-center justify-center text-white text-sm tracking-wider font-medium border-none outline-none bg-blue-600 hover:bg-blue-700 active:bg-blue-600">
                Realizar prueba
            </button>
          </div>
        </div>

        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-slate-900 hover:text-blue-600 flex items-center">
            <span class="mr-4">Verificar solicitudes de productos </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content invisible max-h-0 overflow-hidden transition-all duration-300">
            <p class="text-sm text-slate-600 leading-relaxed">Solicitar tabla existente, no existente y tabla no valida
            </p>
            <button type="button" (click)="probarConexion()"
                class="px-5 py-2.5 cursor-pointer rounded-lg flex items-center justify-center text-white text-sm tracking-wider font-medium border-none outline-none bg-blue-600 hover:bg-blue-700 active:bg-blue-600">
                Realizar prueba
            </button>
            <div class="flex-1/2 px-5">
                    @if (mensajeConexion) {}
                <div style="margin-top: 10px;">
                    {{ mensajeConexion }}
                </div>
                <div style="margin-top: 10px;">
                    {{ mensajeConexion1 }}
                </div>
                <div style="margin-top: 10px;">
                    {{ mensajeConexion2 }}
                </div>
            </div>  
          </div>
        </div>

        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-slate-900 hover:text-blue-600 flex items-center">
            <span class="mr-4">Can I bring a guest with me to the product launch event?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content invisible max-h-0 overflow-hidden transition-all duration-300">
            <p class="text-sm text-slate-600 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor
              arcu,
              at fermentum dui. Maecenas ongue facilisis sapien, a semper orci facilisis in.
            </p>
          </div>
        </div>

        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-slate-900 hover:text-blue-600 flex items-center">
            <span class="mr-4">How can I register for the event?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content invisible max-h-0 overflow-hidden transition-all duration-300">
            <p class="text-sm text-slate-600 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor
              arcu,
              at fermentum dui. Maecenas ongue facilisis sapien, a semper orci facilisis in.
            </p>
          </div>
        </div>

        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-slate-900 hover:text-blue-600 flex items-center">
            <span class="mr-4">Is there parking available at the venue?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content invisible max-h-0 overflow-hidden transition-all duration-300">
            <p class="text-sm text-slate-600 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor
              arcu,
              at fermentum dui. Maecenas ongue facilisis sapien, a semper orci facilisis in.
            </p>
          </div>
        </div>

        <div class="accordion" role="accordion">
          <button type="button"
            class="toggle-button cursor-pointer w-full text-base outline-none text-left font-semibold py-6 text-slate-900 hover:text-blue-600 flex items-center">
            <span class="mr-4">How can I contact the event organizers?</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="w-3 fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="content invisible max-h-0 overflow-hidden transition-all duration-300">
            <p class="text-sm text-slate-600 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor
              arcu,
              at fermentum dui. Maecenas ongue facilisis sapien, a semper orci facilisis in.
            </p>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>